.forgotpassword__title {
  text-transform: uppercase;
  font-size: 20px;
  width: fit-content;

  margin-left: 100px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.forgotpassword__form {
  width: 850px;
  padding: 20px;
  background-color: white;
  margin-left: 100px;
}
.forgotpassword__form-group {
  padding: 15px;
  margin: 0 auto;
  width: 450px;
}

.forgotpassword__form-group label {
  padding: 10px 0px;
  display: inline;

  margin-right: 10px;
}
.forgotpassword__form-group input {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  border: solid 1px rgb(180, 180, 180);
  background-color: white;
  outline: none;
}
.show__button {
  background-color: var(--first-color);
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  float: right;
  display: block;
  position: relative;
  top: -36px;
  cursor: pointer;
}
.forgotpassword__button {
  border: none;
  padding: 10px 35px;
  font-size: 14px;
  font-weight: 700;
  background-color: #ffd61e;
  margin-top: 20px;
  width: fit-content;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.forgotpassword__form a {
  color: var(--first-color);
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.signup__link {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 1px rgb(212, 210, 210);
  cursor: pointer;
}
.signup__link a:hover {
  color: #ffd61e;
}
